node_modules
.dist
build
dist
.turbo/
.cache/
.DS_Store
.vscode
coverage
apps/app/.turbo/
apps/app/.vite/
apps/app/test-results/
apps/**/dist/
apps/**/build/
services/**/dist/
services/**/build/
shared/**/dist/
shared/**/build/
!pnpm-lock.yaml
